version: "3.9"

services:
  app:
    build: .
    container_name: secure_app
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      FLASK_ENV: production

  db:
    image: postgres:15
    container_name: secure_db
    environment:
      POSTGRES_USER: flask
      POSTGRES_PASSWORD: flaskpass
      POSTGRES_DB: security
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
